# General

**/*.*~
**/*.patch
**/*.log

# Compiled files
**/*.a

# Cmake build system
**/*.cmake
**/*.tlog
**/CMakefiles

#!/bin/*

#######################################
# Application
#######################################

