# General

**/*.*~
**/*.patch
**/*.log

# Compiled files
**/*.a

# Cmake build system
**/*.cmake
**/*.tlog
**/CMakefiles

**/bin/CMakefiles

#######################################
# Application
#######################################

!/SoV
/SoV/*
!/SoV/Config
!/SoV/Resources
!/SoV/Source
